# This file is managed by gitlab-ctl. Manual changes will be
# erased! To change the contents below, edit /etc/gitlab/gitlab.rb
# and run `sudo gitlab-ctl reconfigure`.

# GitLab user. git by default
user: <%= @user %>

# Url to gitlab instance. Used for api calls. Should end with a slash.
gitlab_url: "<%= @api_url %>"

http_settings:
#  user: someone
#  password: somepass
#  ca_file: /etc/ssl/cert.pem
#  ca_path: /etc/pki/tls/certs
  self_signed_cert: false

# Repositories path
# Give the canonicalized absolute pathname,
# REPOS_PATH MUST NOT CONTAIN ANY SYMLINK!!!
# Check twice that none of the components is a symlink, including "/home".
repos_path: "<%= @repositories_path %>"

# File used as authorized_keys for gitlab user
auth_file: "<%= @authorized_keys %>"

# Redis settings used for pushing commit notices to gitlab
redis:
  bin: /opt/gitlab/embedded/bin/redis-cli
  host: 127.0.0.1
  port: <%= @redis_port %>
  # socket: /tmp/redis.socket # Only define this if you want to use sockets
  namespace: resque:gitlab

# Log file.
# Default is gitlab-shell.log in the root directory.
log_file: "<%= @log_file %>"

# Log level. INFO by default
log_level: INFO

# Audit usernames.
# Set to true to see real usernames in the logs instead of key ids, which is easier to follow, but
# incurs an extra API call on every gitlab-shell command.
audit_usernames: false
